@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

* {
    font-family: Arial, sans-serif;
}
/* #dd1662 rosa forte
#fbb8d2  rosa destaque
##f9a03f  laranja/amarelo*/
body {
    background-color: #f8f3f0;
}

.texto-laranja {
    font-size: 36px;
    color: #f94d42;
    margin-bottom: 20px;
    font-family: "Sawarabi Gothic", serif;
    text-align: center;
}

.navbar {
    background-color: #f8f3f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

        .navlink {
            display: flex;
            list-style: none;
            text-decoration: none;
            font-size: 18px;
            cursor: pointer;
            align-self: center;
        }
            .navlink a{
                margin-right: 15px;
                color: #f94d42;
                font-weight: 400;
                text-decoration: none;
            }
            .navlink:last-child{
                margin-right: 30px;
            }

.banner {
    background: #fe8244;
    background: linear-gradient(35deg, rgb(255, 105, 142) 20%, rgba(254, 130, 68, 1) 100%);
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    overflow: hidden;
}
        .imagem-BN img {
            width: 190px;
        }

        .texto-BN {
            align-self: center;
            color: #fff;
            font-family: "Sawarabi Gothic", serif;
            font-size: 30px;
            text-align: center; 
            flex-grow: 1; 
        }

        .logo-container {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }


.sobre-nos {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
        .sobre-nos-conteudo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1100px;
            width: 100%;
            margin: 0 auto;
        }

        .sobre-nos-texto {
            width: 50%; 
            padding-right: 20px;
        }
            .sobre-nos-texto p {
                font-size: 18px;
                line-height: 1.6;
            }

        .sobre-nos-imagem img {
            width: 100%;
            max-width: 400px;
            height: auto; 
            border-radius: 15px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        .sobre-nos-btn {
            margin-top: 30px;
            background-color: #f94d42;
            color: #fff;
            padding: 15px 30px;
            text-decoration: none;
            font-size: 18px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            border: 0;
        }
            .sobre-nos-btn:hover {
                background-color: #e53e2f;
            }


/* mapa */
.mapa-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 300px;
    padding-top: 10px;
}
            .mapa-txt {
                flex: 1;
                background-color: #fff;
                padding: 0 25px 25px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(249, 160, 63, 0.2);
            }
                    .mapa-detalhes {
                        display: flex;
                        flex-direction: column;
                    }
                    .detalhe h4 {
                        color: #f94d42;
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                    .detalhe p {
                        font-size: 15px;
                    }

.container-estilo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .card-estilo {
    width: 330px;
    height: 460px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: white;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .img-estilo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    filter: brightness(0.9);
    transition: opacity 0.2s ease-out;
  }
  
  .title-estilo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000;
    transition: bottom 0.3s ease-out;
  }
  
  .text-estilo {
    position: absolute;
    bottom: 60px;
    left: 30px;
    max-width: 80%;
    opacity: 0;
    text-shadow: 1px 1px 2px #000;
    transition: opacity 0.3s ease-out;
  }
  
  .button-estilo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: inherit;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
        .card-estilo:hover .title-estilo {
            bottom: 280px;
        }
        .card-estilo:hover .text-estilo,
        .card-estilo:hover .button-estilo {
            opacity: 1;
            transition: opacity 0.5s 0.1s ease-in;
        }
        .card-estilo:hover .img-estilo {
            opacity: 1;
            transition: 0.3s ease-in;
            filter: brightness(0.5);
        }
 

.card-video {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
    justify-self: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.rodape {
    background-color: #f9f9f9;
    padding: 27px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
        .rodape h3 {
            color: #e53e2f;
            margin-bottom: 15px;
            font-size: 18px;
        }
        .rodape a {
            color: #000;
            text-decoration: none;
            transition: color 0.3s ease;
            line-height: 2;
        }
                .rodape a:hover {
                    color: #e53e2f;
                }

        .rodape-conteudo {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .rodape-sobre,
        .links-uteis,
        .redes-sociais {
            flex: 1;
            line-height: 1.6;
        }
                .links-uteis ul,
                .redes-sociais ul {
                    list-style-type: none;
                    padding: 0;
                }

        .rodape-sobre {
            text-align: center;
            margin-right: 50px;
        }

        .rodape-informacao {
            text-align: center;
            font-size: 12px;
            padding-top: 20px;
        }


/* fonte especial */
.sawarabi-gothic-regular {
    font-family: "Sawarabi Gothic", serif;
    font-weight: 400;
    font-style: normal;
  }




  /* MODO CELULAR */
  @media (min-width: 300px) and (max-width: 1000px){

.logo {
    padding: 15px;
    display: flex;
}
.logo :last-child{
    display: none;
}

.navlink {
    font-size: 32px;
}

    .banner {
        height: 230px;
    }
            .imagem-BN img {
                width: auto;
                height: 230px;
            }
    
            .texto-BN {
                font-size: 27px;
                text-align: center; 
            }
    
                .logo-container img{
                    display: none;
                }

.sobre-nos {
    padding: 50px;
    text-align: justify;
}
        .sobre-nos-conteudo {
            display: block;
        }

        .sobre-nos-texto {
            width: 100%; 
            padding-right: 0px;
            text-align-last: center;
        }

        .sobre-nos-imagem{
            text-align: center;
        }
        .sobre-nos-imagem img {
            width: 70%;
            max-width: none;
        }

        .sobre-nos-btn {
            margin: 30px;
            margin-bottom: 70px;
            width: 60%;
            font-size: 30px;
            padding: 15px 30px;
        }

/* mapa  */
.mapa-conteiner {
    margin: 30px;
    display: block;
}
.mapa-conteiner iframe{
    width: 100%;
}

/* texto laranja  */
.texto-laranja, .card-video h2 {
    font-size: 50px;
}
.detalhe h4, .curso-card h3{
    font-size: 35px;
}
/* texto preto  */
.sobre-nos-texto p, .detalhe p, .curso-card p{
    font-size: 32px;
}

/* video  */
.card-video {
    width: 800px;
    margin-bottom: 50px;
}
.card-video iframe{
    width: 700px;
    height: 400px;
    margin: 40px 0;
}
}






  
.material-symbols-outlined {
  vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
  